* {
  font-family: 'Montserrat', sans-serif;
}
body {
  background-color: rgb(26, 26, 26);
  color: whitesmoke;
}
footer {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}